<nav class="navbar fixed-bottom navbar-light bg-light" style="height: 2.75%;">
    <h6 style="font-size: 70%;;margin-left: 0.5%;"> 
        <a href="https://github.com/vsharma2430" target="_blank" rel="noopener noreferrer" style="margin-left: 2px;"
            class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
            Developed by Vaibhav Sharma.
        </a> 
    </h6>

    <h6 style="font-size: 70%;left:50%">
        <a href="/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
            TradeCraft Server v1.0
        </a>
    </h6>
    <h6 style="font-size: 70%;;margin-right: 0.5%;">
        <a href="https://github.com/vsharma2430/PyETF" target="_blank" rel="noopener noreferrer"
            class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
            &#9400; Github
        </a>
    </h6>
</nav>