<html>
    <head>
        {% include 'title.html' %}
        {% include 'cdn_static.html' %}
    </head>

    <body>

        {% include 'top_navbar.html' %}

        <div style="margin: 1%; margin-top: 4%;" >

            <div class="d-flex justify-content-center">

                <div id="carouselExampleCaptions" class="carousel carousel-dark slide w-75" data-bs-ride="carousel" >
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static\images\screenshots\all_listed_etf.png" class="d-block w-100 rounded" style="height: 700px; width: 800px;">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>NSE Listed ETFs and Stocks list</h5>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img src="static\images\screenshots\stock_details.png" class="d-block w-100 rounded" style="height: 700px; width: 800px;">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Candlestick graph and pattern identification</h5>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img src="static\images\screenshots\stock_list.png" class="d-block w-100 rounded" style="height: 700px; width: 800px;">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Buy and Sell Suggestions on custom lists</h5>
                            </div>
                        </div>

                        <div class="carousel-item active">
                            <img src="static\images\screenshots\Backtest.png" class="d-block w-100 rounded" style="height: 700px; width: 800px;">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Backtest on custom ETF lists</h5>
                            </div>
                        </div>
                    </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>

                </div>
            </div>
        </div>

        <figure class="text-center">
            <blockquote class="blockquote">
              <p>“If I eat 2,700 calories a day, a quarter of that is Coca-Cola. I do it every day.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">Warren Buffett</cite>
            </figcaption>
        </figure>

        <script>
            const myCarouselElement = document.querySelector('carouselExampleCaptions')
            const carousel = new bootstrap.Carousel(myCarouselElement, {interval: 50,touch: false})
        </script>

        {% include 'bottom_bar.html' %}

    </body>
</html>