<html data-bs-theme="dark">
    <head>
        {% include 'title.html' %}

        {% include 'cdn_static.html' %}
    </head>

    <body>
        {% include 'top_navbar.html' %}

        <table class="table" style="table-layout: fixed;width: 96%;margin: 2%;margin-top: 4%;">
            <thead>
              <tr>
                <th scope="col">Capital</th>
                <th scope="col">Target</th>
                <th scope="col">Order Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{settings.capital}}</td>
                <td>{{settings.sell_target}}</td>
                <td>{{settings.order_price}}</td>
              </tr>
            </tbody>
          </table>

        <div class="d-flex">
            <div style="width: 46%;margin: 2%;">
                {% with list=list_buy %}
                    {% include 'stock_table.html' %}
                {% endwith %}
            </div>
            
            <div style="width: 46%;margin: 2%;">
                {% with list=list_sell %}
                    {% include 'portfolio_table.html' %}
                {% endwith %}
            </div>
        </div>

        <div style="width: 96%;margin: 2%;">
            {% with list=portfolio %}
                {% include 'portfolio_table.html' %}
            {% endwith %}
        </div>

        <div style="width: 96%;margin: 2%;">
            {% with list=list %}
                {% include 'stock_table.html' %}
            {% endwith %}
        </div>

        {% include 'bottom_bar.html' %}

    </body>
</html>