<html data-bs-theme="dark">
    <head>
        {% include 'title.html' %}

        {% include 'cdn_static.html' %}

    </head>
    <body>
        {% include 'top_navbar.html' %}

        <div style="margin-top: 3%;">
            <div style="margin: 1%;">
                <div class="d-inline-flex p-2">

                    <div class="form-floating" style="margin: 1%;min-width: 150px;">
                        <select id="chart_select" class="form-select" aria-label="Chart Selection">
                            <option value="{{simple_url}}" {{simple_selected}}>Classic</option>
                            <option value="{{detailed_url}}" {{detailed_selected}}>Detailed</option>
                            <option value="{{volume_url}}" {{volume_selected}}>Volume</option>
                        </select>

                        <label for="chart_select">Chart</label>
                    </div>

                    <div class="form-floating" style="margin: 1%;min-width: 150px;">
                        <input id="startDate" class="form-control" type="date" value="{{start_date}}" readonly/>
                        <label for="startDate">Start Date</label>
                    </div>

                    <div class="form-floating" style="margin: 1%;min-width: 150px;">
                        <input id="endDate" class="form-control" type="date" value="{{end_date}}" readonly/>
                        <label for="endDate">End Date</label>
                    </div>

                    <div class="form-floating" style="margin: 1%;min-width: 150px;">
                        <select id="stock_data_select" class="form-select" aria-label="Stock Data">
                            <option value="{{data_type1_url}}" {{data_type1_selected}}>Classic</option>
                            <option value="{{data_type2_url}}" {{data_type2_selected}}>Detailed</option>
                        </select>

                        <label for="stock_data_select">Stock Data</label>
                    </div>

                </div>
            </div>
        </div>
        
        <div style="margin: 2%;">
            <table class="table table-bordered table-fixed">
                <thead>
                    <tr>
                        <th>PRE. CLOSE</th>
                        <th>CMP</th>
                        <th>%CHANGE</th>
                        
                        <th>30D AVG</th>
                        <th>90D AVG</th>
                        <th>365D AVG</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>{{previous_close}}</td>
                        <td>{{cmp}}</td>
                        <td>{{change}}</td>

                        <td>{{dma_30}}</td>
                        <td>{{dma_90}}</td>
                        <td>{{dma_365}}</td>
                    </tr>
                </tbody>
                
            </table>
        </div>

        <div style="margin: 2%;height: 100%;">
            {{chart|safe}}
        </div>

        
        {% if stock_data_display != 1 %}

            <h5 class="display-6" style="margin-left: 2%;">Stock Details</h5>

            <div>
                {% with data=current_data %}
                    {% include 'key_value.html' %}
                {% endwith %}
            </div>
            

            <h5 class="display-6" style="margin-left: 2%;">Historical Data Analysis</h5>
            <div style="margin: 2%;">
                {{history|safe}}
            </div>
        {% endif %}

        {% include 'bottom_bar.html' %}

    </body>

    <script>
        $('#chart_select').change(function() {
            var val = $("#chart_select option:selected").val();
            window.location.href = window.location.pathname+"?"+$.param({'chart': val})
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>