<html data-bs-theme="dark">
    <head>
        {% include 'title.html' %}

        {% include 'cdn_static.html' %}

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>

    </head>

    <body>
        {% include 'top_navbar.html' %}

        <input id="myInput" type="text" placeholder="Search Item" style="margin-left: 1%;margin-top: 4%;">

        <ul id="myList" class="list-group" id="navigation" style="margin: 1%;">
            {% for item in list %}
                <li class="list-group-item display-6">
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ item.href }}">
                        {{ item.caption }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% include 'bottom_bar.html' %}

    </body>
</html>