<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        <img src="/static/images/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            {% if nav_context %}
                {% if nav_context.nav_title %}
                    {{nav_context.nav_title|title}}
                {% endif %}

            {% else %}
                TradeCraft
            {% endif %}
        </a>

        {% if nav_context %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li> -->

                    {% for menu_item in nav_context.nav_list %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="menu_item.href" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{menu_item.caption}}
                            </a>

                            <ul class="dropdown-menu">
                                {% for drop_item in menu_item.props.list %}
                                    <li><a class="dropdown-item" href="{{drop_item.href}}">{{drop_item.caption}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <span class="navbar-text">
            {% if title %}
                {{title|title}}
            {% endif %}
        </span>

    </div>
  </nav>